[tool.poetry]
name = "flockwave-logger"
version = "1.4.1"
description = "Basic colored logger for Skybrush server and related projects"
authors = ["Tamas Nepusz <tamas@collmot.com>"]
packages = [
    { include = "flockwave", from = "src" }
]

[tool.poetry.dependencies]
python = "^3.7"
colorlog = "^4.1.0"
colorama = { version = "^0.4.3", markers = "os_name == 'nt'" }
hexdump = "^3.3"

[tool.poetry.dev-dependencies]

[[tool.poetry.source]]
name = "collmot"
url = "https://pypi.collmot.com/simple/"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
